<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css/html" />
	<title>Burgerlicious Devour Menu</title>
</head>

<body>
<div class="container">
				<video autoplay loop id="video-background" muted plays-inline>
						<source src="https://player.vimeo.com/external/212566366.sd.mp4?s=c8eaaa1556ce4b139e02d102d71d67c0456b04b5&profile_id=164"
							type="video/mp4">
					</video>
				
	{{{ body }}}

	</div>
</body>
</html>
